<div class="row">
  <!--sidebar-->
  <%= render'layouts/sidebar' %>
  <div class="col-10 pl-0">
  <!--topbar-->
    <%= render'layouts/header' %>
    <main class="bg-light">
      <%= render'layouts/please_login' %>
    </main>
  </div>
</div>