<div class="row">
  <!--===== sidebar start =====-->
  <%= render'layouts/sidebar' %>
  <!--===== sidebar end =====-->
  <div class="col-10 ps-0">
  <!--===== topbar start =====-->
    <%= render'layouts/header' %>
  <!--===== topbar end =====-->
    <main class="bg-light">
  <!--===== top_img start =====-->
      <%= render'layouts/coming_soon' %>
  <!--===== top_cards end =====-->
    </main>
  </div>
</div>