@import '~bootstrap/scss/bootstrap';

hr {
  border-width:
  1.5px 0 0 0;
  border-style: solid;
  border-color: #E5E9F2;
}

.sidebar_logo {
  font-size: 1.25rem;
  font-weight: 600;
}

.top_img {
  object-fit: cover;
  transform: scale(-1, 1);
  border-radius: 0;
}

.top_img_bgcolor {
  background-color: rgba(128,128,128,0.5);
}

.recipe_flex{
  display: flex;
  align-items: flex-start;
}

.point_box {
  background-color: white;
  border-radius: 4px;
  border: 1px solid;
  border-color: black;
  padding: 16px;
  margin-bottom: 16px;
}

.comment_item {
  background-color: white;
  border-radius: 4px;
  border: 1px solid;
  border-color: black;
  padding: 16px;
  margin-bottom: 16px;
}

.comment_item .comment_item_info {
  display: flex;
  align-items: center;
  position: relative;
  height: 24px;
}

.user-header {
  position: relative;
}

.user-img {
  top: -24px;
  border-radius: 50%;
  border: 1px solid #ebe6d0;
  padding: 4px;
  position: absolute;
  background: #ffffff;
}

.user-header-name {
  margin-left: 110px;
}

.follow-button {
  position: absolute;
  left: 450px;
  top: 26px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.sidebar, .top-bar {
  background-color: #1F2D3D;
}

.font-color {
  color: #C0CCDA;
}

.title-color {
  color: #E5E9F2;
}

.nav-link:hover {
  color: #fff;
}

.border-color {
  color: #E5E9F2;
}

.input-color {
  background-color: #C0CCDA;
}

.img-as-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.primary-600 {
  background-color: #007bff88;
  border-color: #007bff88;
}
.success-600 {
  background-color: #0d6e3f;
  border-color: #0d6e3f;
}

.cover-container {
  max-width: 42em;
}

.custom-g-4 > * > * {
  --custom-g: 1rem;
  margin-right: calc(var(--bs-gutter-x) / 2);
  margin-left: calc(var(--bs-gutter-x) / 2);
}

.custom-g-3 > * {
  margin-right: 1.5rem;
}
/* 最後の要素の右マージンを除外 */
.custom-g-3 > *:last-child {
  margin-right: 0;
}

.fs-6 {
  font-size: 1rem;
}

.fs-5 {
  font-size: 1.25rem;
}

.custom-g-0 {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.content_box {
  border-radius: 15px;
  background: #eff5f6;
  border: 5px solid #e5eeef;
  padding: 80px;
}

div.content_text h1 {
  margin: 0 0 30px 0;
}

div.content_text h2 {
  margin: 30px 0 20px 0;
}

div.content_text p {
  margin: 20px 0;
  font-size: 0.95em;
  line-height: 1.6;
}

div.content_text ol {
  margin: 20px 0 0 40px;
}

div.content_text p.tR {
  margin: 30px 0 0 0;
  font-size: 0.95em;
  line-height: 140%;
  text-align: right;
}

.cover-image {
  height: 300px;
  object-fit: cover; /* 画像をカードにぴったりとフィットさせる */
}