<header class="p-3 top-bar">
  <div class="container">
    <div class="d-flex flex-wrap align-items-end justify-content-end justify-content-lg-end">
      <div class="dropdown text-right">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag 'no_image.jpg', width: "32", height: "32", class: "rounded-circle shadow" %>
          <span class="font-color">@admin</span>
        </a>
        <div class="dropdown-menu text-small" aria-labelledby="dropdownAdmin">
          <%= button_to "ログアウト", destroy_admin_session_path, method: :delete, class:"dropdown-item" %>
        </div>
      </div>
    </div>
  </div>
</header>