<div class="p-3 bg-white" style="width: 280px;">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <svg class="bi me-2" width="30" height="24">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-5 fw-semibold">Coffee Drippers</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      ユーザー一覧
    </li>
    <li class="mb-1">
      産地一覧
    </li>
    <li class="mb-1">
      レシピ一覧
    </li>
    <li class="border-top my-3"></li>
  </ul>
</div>