<div class="tab-content border bg-white shadow-sm">
  <div class="container">
    <div class="row py-4 mx-auto">
      <% @users.each do |user| %>
        <%= link_to user_share_recipes_path(user), class:"col-md-4 mb-3" do %>
          <div class="card m-auto shadow-sm h-100" style="max-width: 400px;">
            <div class="row">
              <div class="col-md-5">
                <%= image_tag user.get_user_image(65,65), class: "rounded-circle" %>
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h5 class="card-title">@<%= user.name %></h5>
                </div>
              </div>
            </div>
          </div>
        <% end%>
      <% end %>
    </div>
  </div>
  <div class ="mx-auto mt-4" style="width: 300px;">
    <%= paginate @users, theme: 'bootstrap-5' %>
  </div>
</div>