<header class="p-3 mb-0 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-end justify-content-end justify-content-lg-end">
<!--===== dropdown_menu start =====-->
      <div class="dropdown text-end">
  <!--===== user_img start =====-->
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          <span class="text-dark">@user_name</span>
        </a>
  <!--===== user_img end =====-->
  <!--===== sub_menu start =====-->
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">マイページ</a></li>
          <li><a class="dropdown-item" href="#">ユーザー情報編集</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"dropdown-item" %></li>
        </ul>
  <!--===== sub_menu end =====-->
      </div>
<!--===== dropdown_menu end =====-->
    </div>
  </div>
</header>